@font-face {
    font-family: 'Vonder Clean';
    src: url('VonderClean.eot');
    src: url('VonderClean.eot?#iefix') format('embedded-opentype'),
        url('VonderClean.woff2') format('woff2'),
        url('VonderClean.woff') format('woff'),
        url('VonderClean.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

